<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Notes</title>
  <style>
    body {
      background-color:  #fff7b0;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .title {
      font-size: 3rem;
      color: #fd7f3b;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      margin-bottom: 2rem;
      text-align: center;
    }

    .button {
      padding: 1rem 2rem;
      background-color: #2b2d42;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: all 0.2s ease-in-out;
    }

    .button:hover {
      background-color: #1d1f2f;
      cursor: pointer;
    }
  </style>
</head>
<body onclick="window.location.href='/get_events'">
  <div class="container">
    <h1 class="title">Event Managemnet</h1>
  </div>
</body>
</html>

